div.menu--container {
  position: relative;
  display: flex;
}

button.menu--button {
  font-size: 1em;
  padding: .5em 1.8em;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #464F56;
  color: #fff;
}

button.menu--button:hover {
  background-color: #373f45;
  color: #d6d6d6;
}

button.menu--dropdown--button {
  font-size: 1em;
  padding: .5em .5em;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  border: none;
  border-left: 1px solid #242424;
  background-color: #464F56;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.menu--dropdown--button:hover {
  background-color: #373f45;
  color: #d6d6d6;
}

div.menu--dropdown {
  position: absolute;
  right: 0;
  top: 40px;
}

div.menu--dropdown div:first-child {
  border-radius: 4px 4px 0 0;
}

div.menu--dropdown div:last-child {
  border-radius: 0 0 4px 4px;
}

div.menu--item {
  padding: .5em 1.8em;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  background-color: #464F56;
  border-bottom: 1px solid #242424;
  cursor: pointer;
}

div.menu--item:hover {
  background-color: #373f45;
  color: #d6d6d6;
}

.icon--dropdown {
  font-size: 1.2em;
}